
<!DOCTYPE html>
<html>
	<head>
		<title> Discount Florida Continuing Education: Life & Health CE Update Intro </title>
		<!-- Global site tag (gtag.js) - Google Analytics -->
	  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111789653-4"></script>
	  <script>
	    window.dataLayer = window.dataLayer || [];
	    function gtag(){dataLayer.push(arguments);}
	    gtag('js', new Date());

	    gtag('config', 'UA-111789653-4');
	  </script>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
body {
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0px;
	margin-bottom: 100px;
	padding: 0;
	font-family: verdana;
	background-color: 	white ;
}

nav ul {
  	margin-right:7%;
}
nav ul li {
	margin-left:7%;
	font-size: 24px;
}

h2{
  margin-top: -30px;
	margin-bottom: 15px;
}

.button2 {
	margin-top: 25px;

}


.list{
	margin-bottom: 20px;
}

.info{
	margin-bottom: 25px;
}


</style>
</head>

<body >
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">
            <img  id="logo" src="{{ url_for("static", filename="logo2.png") }}" alt="adjuster" class="nav-link" href="{{ url_for('index') }}">
      </a>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('index') }}">Home </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
          </li>
        </ul>
    </div>
  </nav>
<div class="container-fluid text-center jumbotron ">
<h2 id="title">Florida 9-Hour Medicare & Medicaid CE Update for Life, Health, & Annuiity Agents </h2>
	<h6>This course fulfills the state-mandated
	requirements for the Life, Health, & Annuity Agents Optional Electives continuing education
	component for Florida Life, Health, & Annuity Agents. (2-15 & 2-18)</h6>


<div class="text-left">


<p> Florida 9-Hour Medicare & Medicaid CE Update For Life & Health Agents examines
	Medicare, Medicaid, and Insurance Claims for Life, Health, & Annuity Agents in Florida.
The course covers the history of Medicare and Medicaid, and the four parts (A,B,C,D). Also discussed is eligibility
criteria for each of these programs, as well as Medicare supplement (Medigap) policies.

The course also provides agents with a broad overview to Insurance
Claims, fundamentals of the Claims Process, the key legal concepts and terminology related to Claims, and a
familiarity with the roles and responsibilities of the parties involved in Claims.





</p>
<p> Our course is 100% online and
	can be taken in the privacy of your own home at your convenience.</p>

</div>

<div class="text-left">
<b>	<p>Class highlights include:</p></b>
	<ul>
	<div class="list">
		<li>History and purpose of Medicare, Medicaid, and Medicare supplement insurance</li>
		<li>Eligibility criteria for each of these programs</li>
		<li>The four parts of Medicare</li>
		<li>Purpose and features of Medicare supplement (Medigap) policies</li>


		<li>Overview of Company Operations and Insurance Fundamentals</li>
		<li>Legal Concepts Related to Claims</li>
		<li>Claims Investigation Techniques and Tools</li>
		<li>Innovations and Advancements in Claims Handling Practices</li>


	</div>



</ul >
</div>


	<div class=" text-left info">
<p>This course has been approved by the Florida Department of Financial Services for insurance continuing education. </p>

<b>		<p>Provider of Record: Florida Discount Continuing Education </p>
		<p>Course number: 112648</p>
<p>Provider Number: 372120</p>
<p>Hours Approved: 9 Life Health Annuity Optional Electives  (2-15 & 2-18)</p>
<p>Price: $17.10</p>

</b>



  </div>
	<div class="button1">
		<form action="{{ url_for('sign_up') }}" method="post">
					<button class=" btn-primary btn-lg " aria-pressed="true">Sign-Up</button><BR>
		</form>
	</div>
	<div class="button2">
		<form action="{{ url_for('sign_in_main') }}" method="post">
					<button class=" btn-primary btn-lg " aria-pressed="true">Sign-In</button><BR>
		</form>
	</div>


</div>
</body>
</html>
